# ==================================================
# CLOUDVAULT - GIT IGNORE
# ==================================================

# -------------------------
# SECRET FILES
# -------------------------
.env
*.env
backend/.env

# -------------------------
# PYTHON VIRTUAL ENVIRONMENT
# -------------------------
venv/
.venv/
backend/venv/

# -------------------------
# PYTHON CACHE
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# LOCAL DATABASE
# -------------------------
*.db
*.sqlite
*.sqlite3
backend/cloudvault.db

# -------------------------
# LOCAL UPLOADS
# Actual files are stored in Azure
# -------------------------
uploads/
backend/uploads/

# -------------------------
# TEST / TEMPORARY FILES
# -------------------------
*.log
*.tmp
*.temp

# -------------------------
# VS CODE
# -------------------------
.vscode/

# -------------------------
# WINDOWS
# -------------------------
Thumbs.db
desktop.ini

# -------------------------
# MAC
# -------------------------
.DS_Store